certifi==2018.4.16
chardet==3.0.4
Django==2.2.13
django-appconf==1.0.1
django-autocomplete-light==3.2.10
django-countries==5.3.1
django-datatables-view==1.16.0
django-image-cropping==1.1.0
django-jet==1.0.7
django-simple-autocomplete==1.11
django-tables2==1.21.2
easy-thumbnails==2.5
idna==2.7
jet==1.0
Jinja2==2.10
MarkupSafe==1.0
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23
django-dynamic-fixture==2.0.0
django-import-export-1.0.1