{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block admin_change_form_document_ready %}
 {% block extrahead %}
    {{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://ilgilenio.github.io/Otag/otag.js"></script>


       <script>






       {# var sampleData = [{#}
       {#     id: 1,#}
       {#     name: 'Ford'#}
       {# },{#}
       {#     id:2,#}
       {#     name:'Audi'#}
       {# }#}
       {##}
       {# ]#}
       {##}
       {#//var element = document.getElementById("id_mainCategoryExpense");#}
       {#var  MainTextBox = '#id_mainCategoryExpense'.get()   // get = .getElementByID ile aynı iş#}
       {#    ,container = MainTextBox.parentElement // MainTextBox'ın atasını container'a atıyor#}
       {#    ,MainDropDown= '#MainDropDown'.init() // //MainDropDown=document.createElement('div'); MainDropDown.id='MainDropDown'#}
       {#    ,Results = '.Results'.init() //Results=document.createElement('div'); Results.className='Results'#}
       {#    ,contents= container.children; // Container'ın çocuklarını getir, altında bulunan bütün ögeler#}
       {#console.log(contents); //consola bas#}
       {##}
       {#container.append([contents[0], MainDropDown, contents[2]]); // içine ekle,#}
       {#MainDropDown.append([MainTextBox, Results]);#}
       {#MainTextBox.data = sampleData;#}
       {#MainTextBox.onkeyup=function () {#}
       {#    if(this.value.length > 0){#}
       {#        var query = new RegExp(this.value.toLowerCase()+'.+');#}
       {#        results=this.data#}
       {#            // Diziyi süz(filtrele)#}
       {#            .filter(function(i){#}
       {#                 return query.test(i.name.toLowerCase())#}
       {#            })#}
       {#            // Sonuçları Ögeye çevir#}
       {#            .map(function(i){#}
       {#                 return '.option'#}
       {#                             .set(i.name)#}
       {#                             .prop({#}
       {#                                 onclick:function () {#}
       {#                                     MainTextBox.itemSelected(i.name)#}
       {#                                 }#}
       {#                             }) //e=document.createElement('div'); e.className = 'option'; e.innerHTML=i#}
       {#            })#}
       {#        Results.html(results);#}
       {#    }else{#}
       {#        Results.innerHTML='';#}
       {#    }#}
       {##}
       {#MainTextBox.itemSelected=function (item) {#}
       {#    this.value = item#}

        {#//element.innerHTML =('<div class="custom-select" style="width:200px;">')#}
 /* <select>
    <option value="0">Select car:</option>
    <option value="1">Audi</option>
    <option value="2">BMW</option>
    <option value="3">Citroen</option>
    <option value="Ford">Ford</option>
    <option value="5">Honda</option>
    <option value="6">Jaguar</option>
    <option value="7">Land Rover</option>
    <option value="8">Mercedes</option>
    <option value="9">Mini</option>
    <option value="10">Nissan</option>
    <option value="11">Toyota</option>
    <option value="12">Volvo</option>
  </select>
</div>");*/

           {#var dropdown = document.getElementById("#id_mainCategoryExpense");#}
           {##}
           {# var opt = document.createElement("option");#}
           {# opt.text = 'Demirbaş';#}
           {# opt.value = 'somethings value';#}
           {# dropdown.options.add(opt);#}

    </script>

{% endblock extrahead %}




 <script>



 $("#id_Currency").after("<p id=\"SUM\">In TL</p>");
 $("#SUM").hide();
  $("#change_id_mainCategoryExpense").hide();
    $("#change_id_SubCategoryExpense").hide();
 $( ".field-box.field-SubCategoryExpense" ).hide();


 $(document).ready(function (){
    {##}
    {#    $("#id_mainCategoryExpense").keypress(function() {#}
    {#      $( ".field-box.field-SubCategoryExpense" ).fadeIn(1000);#}
    {#{);#}








             $(function() {
            {% if user.get_profile.is_customer %}
                $('#id_of_field_block').hide();
            {% endif %}
        });

        $(document).ready(function() {
     $('#id_mainCategoryExpense').select2();
     $('#id_SubCategoryExpense').select2();

});

     $("#id_mainCategoryExpense").change(function() {   //this function is used to change SubCategoryExpense
                                            //according to maincategory.

    $( ".field-box.field-SubCategoryExpense" ).fadeIn(500);
 });

     $("#id_Currency").change(function() {
          $("#SUM").show(500);
            calculateTotal();
    });

     $("#id_PaymentSum").change(function() {
            calculateTotal();
    });
 });

$("#id_PayingEmployee").val("Mustafa Namoğlu") ;






 function calculateTotal() {
     var total;
   if ($('input[name=Currency]:checked').val() === "USD" ) {
               total=  $("#id_PaymentSum").val() * '{{dolar}}';
            document.getElementById("SUM").innerHTML = parseFloat(total).toFixed(2) + " TL in Total";
        }else if ($('input[name=Currency]:checked').val() === "EUR" ) {
               total=  $("#id_PaymentSum").val() * '{{euro}}';
            document.getElementById("SUM").innerHTML = parseFloat(total).toFixed(2) + " TL in Total";

        }else if ($('input[name=Currency]:checked').val() === "TL" ) {
              $("#SUM").hide(1000);
        }
}

 </script>
{% endblock %}


