{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block admin_change_form_document_ready %}
 {% block extrahead %}
    {{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
       <script>


    </script>

{% endblock extrahead %}




 <script>



 $("#id_Currency").after("<p id=\"SUM\">In TL</p>");
 $("#SUM").hide();
 $( ".field-box.field-SubCategory" ).hide();


 $(document).ready(function (){
    {##}
    {#    $("#id_MainCategory").keypress(function() {#}
    {#      $( ".field-box.field-SubCategory" ).fadeIn(1000);#}
    {#{);#}


             $(function() {
            {% if user.get_profile.is_customer %}
                $('#id_of_field_block').hide();
            {% endif %}
        });

        $(document).ready(function() {
     $('#id_MainCategory').select2();
     $('#id_SubCategory').select2();

});

     $("#id_MainCategory").change(function() {   //this function is used to change SubCategory
                                            //according to maincategory.

    $( ".field-box.field-SubCategory" ).fadeIn(1000);
 });

     $("#id_Currency").change(function() {
          $("#SUM").show(1000);
            calculateTotal();
    });

     $("#id_PaymentSum").change(function() {
            calculateTotal();
    });
 });

$("#id_PayingEmployee").val("Mustafa Namoğlu") ;






 function calculateTotal() {
     var total;
   if ($('input[name=Currency]:checked').val() === "USD" ) {
               total=  $("#id_PaymentSum").val() * '{{dolar}}';
            document.getElementById("SUM").innerHTML = parseFloat(total).toFixed(2) + " TL in Total";
        }else if ($('input[name=Currency]:checked').val() === "EUR" ) {
               total=  $("#id_PaymentSum").val() * '{{euro}}';
            document.getElementById("SUM").innerHTML = parseFloat(total).toFixed(2) + " TL in Total";

        }else if ($('input[name=Currency]:checked').val() === "TL" ) {
              $("#SUM").hide(1000);
        }
}

 </script>
{% endblock %}


